In [ ]:
# EXTRAER JSON steam_games.json

In [1]:
import pandas as pd
import numpy as np
import json
import ast
from pandas import json_normalize

In [2]:
# Cargamos el json en un dataframe
data = []
with open('output_steam_games.json') as e:
    for line in e:
        data.append(json.loads(line))
dfsteam_games = pd.DataFrame(data)

In [3]:
dfsteam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dfsteam_games = dfsteam_games.drop(['publisher', 'app_name', 'url', 'tags', 'reviews_url', 'specs', 'early_access'], axis=1)

In [5]:
dfsteam_games.head()

  genres title release_date price   id developer
0    NaN   NaN          NaN   NaN  NaN       NaN
1    NaN   NaN          NaN   NaN  NaN       NaN
2    NaN   NaN          NaN   NaN  NaN       NaN
3    NaN   NaN          NaN   NaN  NaN       NaN
4    NaN   NaN          NaN   NaN  NaN       NaN

In [6]:
# Contar filas con valores nulos
filas_con_nulos = dfsteam_games.isnull().sum(axis=1)
total_filas = len(dfsteam_games)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos = (filas_con_nulos / total_filas) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos.mean()}%")

Total de filas con valores nulos: 541938
Porcentaje de filas con valores nulos: 0.0037357005154758757%

In [7]:
total_filas = len(dfsteam_games)
print(total_filas)

120445

In [8]:
# Número de filas antes de eliminar NaN
num_filas_antes = len(dfsteam_games)
print("Total de filas:", num_filas_antes)

# Eliminar filas con NaN y crear el nuevo DataFrame
dfsteam_games_cleaned = dfsteam_games.dropna()

# Número de filas después de eliminar NaN
num_filas_despues = len(dfsteam_games_cleaned)
print("Total de filas despues drop:", num_filas_despues )

# Calcular el total de filas eliminadas
total_filas_eliminadas = num_filas_antes - num_filas_despues

print("Total de filas eliminadas:", total_filas_eliminadas)

Total de filas: 120445
Total de filas despues drop: 27462
Total de filas eliminadas: 92983

In [9]:
# Contar filas con valores nulos
filas_con_nulos = dfsteam_games_cleaned.isnull().sum(axis=1)
total_filas = len(dfsteam_games_cleaned)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos = (filas_con_nulos / total_filas) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos.mean()}%")

Total de filas con valores nulos: 0
Porcentaje de filas con valores nulos: 0.0%

In [10]:
# Imprimir los primeros juegos del DataFrame
print(dfsteam_games_cleaned.head())

# Imprimir información sobre el DataFrame
print(dfsteam_games_cleaned.info())

                                                  genres  \
88310      [Action, Casual, Indie, Simulation, Strategy]
88311               [Free to Play, Indie, RPG, Strategy]
88312  [Casual, Free to Play, Indie, Simulation, Sports]
88313                        [Action, Adventure, Casual]
88315                    [Action, Adventure, Simulation]

                         title release_date         price      id  \
88310      Lost Summoner Kitty   2018-01-04          4.99  761140
88311                Ironbound   2018-01-04  Free To Play  643980
88312  Real Pool 3D - Poolians   2017-07-24  Free to Play  670290
88313                  弹炸人2222   2017-12-07          0.99  767400
88315    Battle Royale Trainer   2018-01-04          3.99  772540

                 developer
88310            Kotoshiro
88311     Secret Level SRL
88312         Poolians.com
88313                 彼岸领域
88315  Trickjump Games Ltd
<class 'pandas.core.frame.DataFrame'>
Index: 27462 entries, 88310 to 120443
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27462 non-null  object
 1   title         27462 non-null  object
 2   release_date  27462 non-null  object
 3   price         27462 non-null  object
 4   id            27462 non-null  object
 5   developer     27462 non-null  object
dtypes: object(6)
memory usage: 1.5+ MB
None

In [11]:
# Imprimir los primeros juegos del DataFrame
print(dfsteam_games_cleaned.head())

# Imprimir información sobre el DataFrame
print(dfsteam_games_cleaned.info())

                                                  genres  \
88310      [Action, Casual, Indie, Simulation, Strategy]
88311               [Free to Play, Indie, RPG, Strategy]
88312  [Casual, Free to Play, Indie, Simulation, Sports]
88313                        [Action, Adventure, Casual]
88315                    [Action, Adventure, Simulation]

                         title release_date         price      id  \
88310      Lost Summoner Kitty   2018-01-04          4.99  761140
88311                Ironbound   2018-01-04  Free To Play  643980
88312  Real Pool 3D - Poolians   2017-07-24  Free to Play  670290
88313                  弹炸人2222   2017-12-07          0.99  767400
88315    Battle Royale Trainer   2018-01-04          3.99  772540

                 developer
88310            Kotoshiro
88311     Secret Level SRL
88312         Poolians.com
88313                 彼岸领域
88315  Trickjump Games Ltd
<class 'pandas.core.frame.DataFrame'>
Index: 27462 entries, 88310 to 120443
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27462 non-null  object
 1   title         27462 non-null  object
 2   release_date  27462 non-null  object
 3   price         27462 non-null  object
 4   id            27462 non-null  object
 5   developer     27462 non-null  object
dtypes: object(6)
memory usage: 1.5+ MB
None

In [12]:
import numpy as np

# Reemplazar "Soon.." con NaN
dfsteam_games_cleaned['release_date'].replace("Soon..", np.nan, inplace=True)

# Convertir la columna a datetime
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'], errors='coerce')

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\1172624369.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'].replace("Soon..", np.nan, inplace=True)
C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\1172624369.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'], errors='coerce')

In [13]:
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\289674033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

In [14]:
dfsteam_games_cleaned.head()

,genres,title,release_date,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd

In [15]:
# Convierte la lista de géneros en una cadena de texto separada por comas
dfsteam_games_cleaned['genres'] = dfsteam_games_cleaned['genres'].apply(lambda x: ', '.join(x))

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\741145724.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['genres'] = dfsteam_games_cleaned['genres'].apply(lambda x: ', '.join(x))

In [16]:
dfsteam_games_cleaned.head()

,genres,title,release_date,price,id,developer
88310,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
88311,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
88312,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
88313,"Action, Adventure, Casual",弹炸人2222,2017-12-07,0.99,767400,彼岸领域
88315,"Action, Adventure, Simulation",Battle Royale Trainer,2018-01-04,3.99,772540,Trickjump Games Ltd

In [17]:
# Convertir la columna 'price' a tipo str
dfsteam_games_cleaned['price'] = dfsteam_games_cleaned['price'].astype(str)

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\283780244.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['price'] = dfsteam_games_cleaned['price'].astype(str)

In [18]:
# ID consultar (interpretado como int)
id_a_consultar = 761140

# Fecha que deseas buscar
fecha_a_buscar = '2018-01-04'

# Convierte la columna 'id' a tipo int para la comparación
dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

# Convierte la columna 'release_date' a tipo datetime para la comparación
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

# Verifica si el ID tiene la fecha '2018-01-04' en la columna 'release_date'
id_tiene_fecha = (dfsteam_games_cleaned['id'] == id_a_consultar) & (dfsteam_games_cleaned['release_date'] == fecha_a_buscar)

if id_tiene_fecha.any():
    print(f"El ID {id_a_consultar} tiene asociada la fecha '{fecha_a_buscar}' en la columna 'release_date'.")
else:
    print(f"El ID {id_a_consultar} no tiene asociada la fecha '{fecha_a_buscar}' en la columna 'release_date'.")

El ID 761140 tiene asociada la fecha '2018-01-04' en la columna 'release_date'.

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\3778954988.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)
C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\3778954988.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

In [19]:
# ID consultar
id_a_consultar = 761140

# Género  buscar
genero_a_buscar = 'Action'

# Convierte la columna 'id' a tipo int para la comparación
dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

# Verifica si el ID tiene el género 'Action' en la columna 'genres'
id_tiene_genero_action = (dfsteam_games_cleaned['id'] == id_a_consultar) & (dfsteam_games_cleaned['genres'].str.contains(genero_a_buscar))

if id_tiene_genero_action.any():
    print(f"El ID {id_a_consultar} tiene asociado el género '{genero_a_buscar}' en la columna 'genres'.")
else:
    print(f"El ID {id_a_consultar} no tiene asociado el género '{genero_a_buscar}' en la columna 'genres'.")

El ID 761140 tiene asociado el género 'Action' en la columna 'genres'.

C:\Users\jaime\AppData\Local\Temp\ipykernel_10908\4279773460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

In [20]:

# Valor que deseas buscar como número entero
id_a_buscar = 761140

# Verifica si el valor está en la columna 'id' como número entero
id_encontrado = (dfsteam_games_cleaned['id'].astype(int) == id_a_buscar).any()

if id_encontrado:
    print(f"El ID {id_a_buscar} se encuentra en la columna 'id' como un número entero.")
else:
    print(f"El ID {id_a_buscar} no se encuentra en la columna 'id' como un número entero.")

El ID 761140 se encuentra en la columna 'id' como un número entero.

In [21]:
# información de la primera fila en el DataFrame dfsteam_games_cleaned
primera_fila = dfsteam_games_cleaned.iloc[0]

# Imprime la información de la primera fila
print(primera_fila)

genres          Action, Casual, Indie, Simulation, Strategy
title                                   Lost Summoner Kitty
release_date                            2018-01-04 00:00:00
price                                                  4.99
id                                                   761140
developer                                         Kotoshiro
Name: 88310, dtype: object

In [22]:
# Guardar el DataFrame como un archivo CSV
dfsteam_games_cleaned.to_csv('dfsteam_games_cleaned.csv', index=False)

In [ ]:
# EXTRAER JSON user_reviews.json

In [23]:
# Leer el contenido del archivo user_reviews.json
with open('australian_user_reviews.json', "r", encoding='utf-8') as f:
    data = f.readlines()
    
# Convertir la lineas a registros JSON
records = [eval(line.strip()) for line in data]

df_user_reviews = pd.DataFrame(records)

In [24]:
df_user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [25]:
df_user_reviews = df_user_reviews.drop(['user_url'], axis=1)

In [26]:
df_user_reviews.head()

             user_id                                            reviews
0  76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1            js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2          evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3              doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4          maplemage  [{'funny': '3 people found this review funny',...

In [27]:
# Contar filas con valores nulos
filas_con_nulos1 = df_user_reviews.isnull().sum(axis=1)
total_filas1 = len(dfsteam_games)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos1 = (filas_con_nulos1 / total_filas1) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos1.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos1.mean()}%")

Total de filas con valores nulos: 0
Porcentaje de filas con valores nulos: 0.0%

In [28]:
# Imprimir los primeros juegos del DataFrame
print(df_user_reviews.head())

# Imprimir información sobre el DataFrame
print(df_user_reviews.info())

             user_id                                            reviews
0  76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1            js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2          evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3              doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4          maplemage  [{'funny': '3 people found this review funny',...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  25799 non-null  object
 1   reviews  25799 non-null  object
dtypes: object(2)
memory usage: 403.2+ KB
None

In [29]:
pip install textblob

Requirement already satisfied: textblob in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (2023.8.8)
Requirement already satisfied: tqdm in c:\users\jaime\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.1->textblob) (4.66.1)
Requirement already satisfied: colorama in c:\users\jaime\appdata\roaming\python\python311\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from textblob import TextBlob

def assign_sentiment(review_data):
    if isinstance(review_data, list):
        sentiment_scores = []

        for review_entry in review_data:
            if 'review' in review_entry:
                review_text = review_entry['review']
                if isinstance(review_text, str):
                    analysis = TextBlob(review_text)
                    sentiment = analysis.sentiment.polarity

                    if sentiment > 0:
                        sentiment_scores.append(2)  # Positivo
                    elif sentiment < 0:
                        sentiment_scores.append(0)  # Malo
                    else:
                        sentiment_scores.append(1)  # Neutral

        if sentiment_scores:
            # Calcular el sentimiento general de todas las reseñas
            average_sentiment = sum(sentiment_scores) / len(sentiment_scores)
            return average_sentiment

    return 1  # Valor por defecto si no hay reseñas o no se pueden analizar

# Aplicar la función de análisis de sentimientos a la columna 'reviews' y agregar una nueva columna 'sentiment_analysis'
df_user_reviews['sentiment_analysis'] = df_user_reviews['reviews'].apply(assign_sentiment)

# Eliminar la columna 'reviews'
df_user_reviews.drop(columns=['reviews'], inplace=True)

In [31]:
print(df_user_reviews.head())

             user_id  sentiment_analysis
0  76561197970982479            2.000000
1            js41637            0.666667
2          evcentric            1.666667
3              doctr            1.666667
4          maplemage            1.750000

In [32]:
# Redondear los valores en la columna 'sentiment_analysis' a números enteros
df_user_reviews['sentiment_analysis'] = df_user_reviews['sentiment_analysis'].round(0).astype(int)

In [33]:
print(df_user_reviews.head())

             user_id  sentiment_analysis
0  76561197970982479                   2
1            js41637                   1
2          evcentric                   2
3              doctr                   2
4          maplemage                   2

In [34]:
# Guardar el DataFrame como un archivo CSV
df_user_reviews.to_csv('user_reviews.csv', index=False)

In [ ]:
# EXTRAER JSON users_items.json

In [35]:
# Leer el contenido del archivo users_items.json
with open('australian_users_items.json', "r", encoding='utf-8') as f:
    data = f.readlines()
    
# Convertir la lineas a registros JSON
records = [eval(line.strip()) for line in data]

dfusers_items = pd.DataFrame(records)

In [36]:
dfusers_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [37]:
columnas = dfusers_items.columns
print(columnas)

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

In [38]:
dfusers_items = dfusers_items.drop(['items_count', 'user_url', ], axis=1)

In [39]:
dfusers_items.head()

,user_id,steam_id,items
0,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [40]:
dfusers_items['playtime_forever'] = dfusers_items['items'].apply(lambda x: x[0].get('playtime_forever') if len(x) > 0 else 0)
dfusers_items['playtime_2weeks'] = dfusers_items['items'].apply(lambda x: x[0].get('playtime_2weeks') if len(x) > 0 else 0)
dfusers_items['id'] = dfusers_items['items'].apply(lambda x: x[0].get('item_id') if len(x) > 0 else 0)
dfusers_items['playtime_forever'] = dfusers_items['playtime_forever'].astype(int)
dfusers_items['playtime_2weeks'] = dfusers_items['playtime_2weeks'].astype(int)

In [41]:
dfusers_items.head()

,user_id,steam_id,items,playtime_forever,playtime_2weeks,id
0,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10
1,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
2,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,0,1200
3,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
4,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea...",1131,0,300

In [42]:

dfusers_items.drop(['items'], axis=1, inplace=True)

In [43]:
dfusers_items.drop(['playtime_2weeks'], axis=1, inplace=True)

In [44]:
dfusers_items.head()

             user_id           steam_id  playtime_forever    id
0  76561197970982479  76561197970982479                 6    10
1            js41637  76561198035864385                 0    10
2          evcentric  76561198007712555               923  1200
3         Riot-Punch  76561197963445855                 0    10
4              doctr  76561198002099482              1131   300

In [45]:
#  

# Convertir la columna 'id' a valores numéricos
dfusers_items['id'] = pd.to_numeric(dfusers_items['id'], errors='coerce')

# La opción 'errors' con valor 'coerce' transformará los valores no numéricos en NaN

# Verificar que la columna 'id' ahora contiene valores numéricos
print(dfusers_items.dtypes)

user_id             object
steam_id            object
playtime_forever     int32
id                   int64
dtype: object

In [46]:

# Verifica el DataFrame dfsteam_games_cleaned
if dfsteam_games_cleaned['id'].apply(lambda x: isinstance(x, (int, float))).all():
    print("Todos los valores en la columna 'id' de dfsteam_games_cleaned son numéricos.")
else:
    print("La columna 'id' de dfsteam_games_cleaned contiene valores no numéricos.")

# Verifica el DataFrame dfusers_items
if dfusers_items['id'].apply(lambda x: isinstance(x, (int, float))).all():
    print("Todos los valores en la columna 'id' de dfusers_items son numéricos.")
else:
    print("La columna 'id' de dfusers_items contiene valores no numéricos.")

Todos los valores en la columna 'id' de dfsteam_games_cleaned son numéricos.
Todos los valores en la columna 'id' de dfusers_items son numéricos.

In [47]:


# Filtrar juegos del género "Action" en dfsteam_games_cleaned
juegos_action = dfsteam_games_cleaned[dfsteam_games_cleaned['genres'].str.contains('Adventure', case=False, na=False)]

# Realizar un merge entre juegos_action y dfusers_items utilizando 'id' como clave de unión
merged_df = juegos_action.merge(dfusers_items[['id', 'playtime_forever']], left_on='id', right_on='id', how='inner')

# Convertir la columna 'playtime_forever' a tipo int
merged_df['playtime_forever'] = merged_df['playtime_forever'].astype(int)

# Convertir la columna 'release_date' a tipo datetime si aún no lo está
merged_df['release_date'] = pd.to_datetime(merged_df['release_date'])

# Obtener el año con más horas jugadas
year_with_most_playtime = merged_df.groupby(merged_df['release_date'].dt.year)['playtime_forever'].sum().idxmax()

print(f"Año con más horas jugadas para el género 'Adventure': {year_with_most_playtime}")

Año con más horas jugadas para el género 'Adventure': 2011.0

In [48]:
dfusers_items.to_csv('dfusers_items.csv', index=False)

In [134]:
from fastapi import FastAPI


app = FastAPI()

@app.get("/playtime_genre")
def PlayTimeGenre(genre: str):
    # Filtrar juegos del género especificado en dfsteam_games_cleaned
    genre_filter = dfsteam_games_cleaned['genres'].str.contains(genre, case=False, na=False)
    juegos_genre = dfsteam_games_cleaned[genre_filter]

    # Realizar un merge entre juegos_genre y dfusers_items utilizando 'id' como clave de unión
    merged_df = juegos_genre.merge(dfusers_items[['id', 'playtime_forever']], left_on='id', right_on='id', how='inner')

    # Convertir la columna 'playtime_forever' a tipo int
    merged_df['playtime_forever'] = merged_df['playtime_forever'].astype(int)

    # Convertir la columna 'release_date' a tipo datetime si aún no lo está
    merged_df['release_date'] = pd.to_datetime(merged_df['release_date'])

    # Obtener el año con más horas jugadas
    year_with_most_playtime = merged_df.groupby(merged_df['release_date'].dt.year)['playtime_forever'].sum().idxmax()

    return {"year_with_most_playtime": year_with_most_playtime}

# Ejecutar la aplicación FastAPI
if __name__ == "__main__":
    import uvicorn
    uvicorn.run(app, host="0.0.0.0", port=8000)

RuntimeError: asyncio.run() cannot be called from a running event loop

In [55]:
import pandas as pd
from collections import defaultdict
from typing import Dict
from fastapi import FastAPI

# Inicializar FastAPI
app = FastAPI()

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv("dfsteam_games_cleaned.csv")

# Función para calcular la cantidad de contenido gratuito y el porcentaje por año para un desarrollador específico
def developer(desarrollador: str) -> Dict:
    # Filtrar el DataFrame por el desarrollador especificado
    developer_df = df[df['developer'] == desarrollador]
    
    # Crear un diccionario para almacenar los resultados
    result = defaultdict(int)
    
    # Recorrer las filas del DataFrame
    for _, row in developer_df.iterrows():
        year = row['release_date'][:4]  # Obtener el año de la fecha
        price = str(row['price']).lower()  # Convertir el precio a minúsculas
        
        if "free" in price:  # Verificar si el contenido es gratuito
            result[year] += 1
    
    # Calcular el total de juegos por año
    total_items_by_year = developer_df['release_date'].str[:4].value_counts().to_dict()
    
    # Calcular el porcentaje de contenido gratuito
    content_free_percentage = {year: (result[year] / total_items_by_year[year]) * 100 for year in result}
    
    return content_free_percentage

# Definir la ruta de la API
@app.get("/")
async def get_content_free_percentage(desarrollador: str):
    content_free = developer(desarrollador)
    return content_free

# Ejecutar la aplicación FastAPI
if __name__ == "__main__":
    import uvicorn
    uvicorn.run(app, host="0.0.0.0", port=8000)

               Año  Cantidad de Items Contenido Free
release_year
2013          2013                  1         100.0%
2018          2018                  5           0.0%

C:\Users\jaime\AppData\Local\Temp\ipykernel_5288\544704319.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juegos_desarrollador['release_date'] = pd.to_datetime(juegos_desarrollador['release_date'], errors='coerce')
C:\Users\jaime\AppData\Local\Temp\ipykernel_5288\544704319.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juegos_desarrollador['release_year'] = juegos_desarrollador['release_date'].dt.year

In [1]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

# Cargar los datos desde el archivo CSV
user_reviews = pd.read_csv("user_reviews.csv")

# Filtrar las filas para el user_id "evcentric"
evcentric_reviews = user_reviews[user_reviews["user_id"] == "evcentric"]

# Obtener el valor de "sentiment_analysis"
sentiment_value = evcentric_reviews["sentiment_analysis"].values[0]  # Accede al primer valor

print("Sentiment Analysis para el usuario evcentric:", sentiment_value)

Sentiment Analysis para el usuario evcentric: 2