In [ ]:
# SEGUNDO INTENTO

In [ ]:
# EXTRAER JSON steam_games.json

In [1]:
import pandas as pd
import numpy as np
import json
import ast
from pandas import json_normalize

In [2]:
# Cargamos el json en un dataframe
data = []
with open('steam_games.json') as e:
    for line in e:
        data.append(json.loads(line))
dfsteam_games = pd.DataFrame(data)

In [3]:
dfsteam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dfsteam_games = dfsteam_games.drop(['publisher', 'app_name', 'url', 'tags', 'reviews_url', 'specs', 'price', 'early_access', 'developer'], axis=1)

In [6]:
dfsteam_games.head()

  genres title release_date   id
0    NaN   NaN          NaN  NaN
1    NaN   NaN          NaN  NaN
2    NaN   NaN          NaN  NaN
3    NaN   NaN          NaN  NaN
4    NaN   NaN          NaN  NaN

In [7]:
# Contar filas con valores nulos
filas_con_nulos = dfsteam_games.isnull().sum(axis=1)
total_filas = len(dfsteam_games)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos = (filas_con_nulos / total_filas) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos.mean()}%")

Total de filas con valores nulos: 360642
Porcentaje de filas con valores nulos: 0.002485986414132706%

In [8]:
# Número de filas antes de eliminar NaN
num_filas_antes = len(dfsteam_games)
print("Total de filas:", num_filas_antes)

# Eliminar filas con NaN y crear el nuevo DataFrame
dfsteam_games_cleaned = dfsteam_games.dropna()

# Número de filas después de eliminar NaN
num_filas_despues = len(dfsteam_games_cleaned)
print("Total de filas despues drop:", num_filas_despues )

# Calcular el total de filas eliminadas
total_filas_eliminadas = num_filas_antes - num_filas_despues

print("Total de filas eliminadas:", total_filas_eliminadas)

Total de filas: 120445
Total de filas despues drop: 28832
Total de filas eliminadas: 91613

In [9]:
# Contar filas con valores nulos
filas_con_nulos = dfsteam_games_cleaned.isnull().sum(axis=1)
total_filas = len(dfsteam_games_cleaned)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos = (filas_con_nulos / total_filas) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos.mean()}%")

Total de filas con valores nulos: 0
Porcentaje de filas con valores nulos: 0.0%

In [10]:
# Imprimir los primeros juegos del DataFrame
print(dfsteam_games_cleaned.head())

# Imprimir información sobre el DataFrame
print(dfsteam_games_cleaned.info())

                                                  genres  \
88310      [Action, Casual, Indie, Simulation, Strategy]
88311               [Free to Play, Indie, RPG, Strategy]
88312  [Casual, Free to Play, Indie, Simulation, Sports]
88313                        [Action, Adventure, Casual]
88315                    [Action, Adventure, Simulation]

                         title release_date      id
88310      Lost Summoner Kitty   2018-01-04  761140
88311                Ironbound   2018-01-04  643980
88312  Real Pool 3D - Poolians   2017-07-24  670290
88313                  弹炸人2222   2017-12-07  767400
88315    Battle Royale Trainer   2018-01-04  772540
<class 'pandas.core.frame.DataFrame'>
Index: 28832 entries, 88310 to 120443
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28832 non-null  object
 1   title         28832 non-null  object
 2   release_date  28832 non-null  object
 3   id            28832 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB
None

In [134]:
# correspondencia_generos = {'Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Free to Play', 'RPG', 'Sports', 'Adventure', 'Racing', 
                # 'Early Access', 'Massively Multiplayer', 'Animation & Modeling', 'Video Production', 'Web Publishing', 
                # 'Education', 'Software Training', 'Utilities', 'Design & Illustration', 'Audio Production', 'Photo Editing', 
                # 'Accounting'}  # Definir los códigos para cada género

In [135]:
# Crear un conjunto de todos los géneros únicos
#generos_unicos = set()

# Obtener una lista de géneros de cada fila y agregarlos al conjunto
#dfsteam_games_cleaned['genres'].apply(lambda x: generos_unicos.update(x))

# Crear un diccionario de correspondencia entre géneros y códigos
#correspondencia_generos = {genero: codigo for codigo, genero in enumerate(generos_unicos)}

# Función para obtener el código del género
#def obtener_codigo_genero(genero):
 #   return [correspondencia_generos[gen] for gen in genero]

# Aplicar la función para obtener los códigos de género y crear una nueva columna
#dfsteam_games_cleaned['codigo_genero'] = dfsteam_games_cleaned['genres'].apply(obtener_codigo_genero)

# Eliminar la columna original de 'genres'
#dfsteam_games_cleaned.drop('genres', axis=1, inplace=True)

C:\Users\jaime\AppData\Local\Temp\ipykernel_9604\3355070945.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['codigo_genero'] = dfsteam_games_cleaned['genres'].apply(obtener_codigo_genero)
C:\Users\jaime\AppData\Local\Temp\ipykernel_9604\3355070945.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned.drop('genres', axis=1, inplace=True)

In [11]:
# Imprimir los primeros juegos del DataFrame
print(dfsteam_games_cleaned.head())

# Imprimir información sobre el DataFrame
print(dfsteam_games_cleaned.info())

                                                  genres  \
88310      [Action, Casual, Indie, Simulation, Strategy]
88311               [Free to Play, Indie, RPG, Strategy]
88312  [Casual, Free to Play, Indie, Simulation, Sports]
88313                        [Action, Adventure, Casual]
88315                    [Action, Adventure, Simulation]

                         title release_date      id
88310      Lost Summoner Kitty   2018-01-04  761140
88311                Ironbound   2018-01-04  643980
88312  Real Pool 3D - Poolians   2017-07-24  670290
88313                  弹炸人2222   2017-12-07  767400
88315    Battle Royale Trainer   2018-01-04  772540
<class 'pandas.core.frame.DataFrame'>
Index: 28832 entries, 88310 to 120443
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28832 non-null  object
 1   title         28832 non-null  object
 2   release_date  28832 non-null  object
 3   id            28832 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB
None

In [12]:
import numpy as np

# Reemplazar "Soon.." con NaN
dfsteam_games_cleaned['release_date'].replace("Soon..", np.nan, inplace=True)

# Convertir la columna a datetime
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'], errors='coerce')

C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\1172624369.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'].replace("Soon..", np.nan, inplace=True)
C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\1172624369.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'], errors='coerce')

In [13]:
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\289674033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

In [14]:
dfsteam_games_cleaned.head()

,genres,title,release_date,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,761140
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,643980
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,670290
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,767400
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,772540

In [15]:
# Convierte la lista de géneros en una cadena de texto separada por comas
dfsteam_games_cleaned['genres'] = dfsteam_games_cleaned['genres'].apply(lambda x: ', '.join(x))

# Ahora, la columna 'genres' contiene una cadena de texto con los géneros separados por comas

C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\2268960311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['genres'] = dfsteam_games_cleaned['genres'].apply(lambda x: ', '.join(x))

In [16]:
dfsteam_games_cleaned.head()

,genres,title,release_date,id
88310,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,761140
88311,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,643980
88312,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,670290
88313,"Action, Adventure, Casual",弹炸人2222,2017-12-07,767400
88315,"Action, Adventure, Simulation",Battle Royale Trainer,2018-01-04,772540

In [17]:
# ID que deseas consultar (interpretado como int)
id_a_consultar = 761140

# Fecha que deseas buscar
fecha_a_buscar = '2018-01-04'

# Convierte la columna 'id' a tipo int para la comparación
dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

# Convierte la columna 'release_date' a tipo datetime para la comparación
dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

# Verifica si el ID tiene la fecha '2018-01-04' en la columna 'release_date'
id_tiene_fecha = (dfsteam_games_cleaned['id'] == id_a_consultar) & (dfsteam_games_cleaned['release_date'] == fecha_a_buscar)

if id_tiene_fecha.any():
    print(f"El ID {id_a_consultar} tiene asociada la fecha '{fecha_a_buscar}' en la columna 'release_date'.")
else:
    print(f"El ID {id_a_consultar} no tiene asociada la fecha '{fecha_a_buscar}' en la columna 'release_date'.")

El ID 761140 tiene asociada la fecha '2018-01-04' en la columna 'release_date'.

C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\1610779286.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)
C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\1610779286.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['release_date'] = pd.to_datetime(dfsteam_games_cleaned['release_date'])

In [18]:
# ID que deseas consultar
id_a_consultar = 761140

# Género que deseas buscar
genero_a_buscar = 'Action'

# Convierte la columna 'id' a tipo int para la comparación
dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

# Verifica si el ID tiene el género 'Action' en la columna 'genres'
id_tiene_genero_action = (dfsteam_games_cleaned['id'] == id_a_consultar) & (dfsteam_games_cleaned['genres'].str.contains(genero_a_buscar))

if id_tiene_genero_action.any():
    print(f"El ID {id_a_consultar} tiene asociado el género '{genero_a_buscar}' en la columna 'genres'.")
else:
    print(f"El ID {id_a_consultar} no tiene asociado el género '{genero_a_buscar}' en la columna 'genres'.")

El ID 761140 tiene asociado el género 'Action' en la columna 'genres'.

C:\Users\jaime\AppData\Local\Temp\ipykernel_11456\2085089130.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsteam_games_cleaned['id'] = dfsteam_games_cleaned['id'].astype(int)

In [19]:

# Valor que deseas buscar como número entero
id_a_buscar = 761140

# Verifica si el valor está en la columna 'id' como número entero
id_encontrado = (dfsteam_games_cleaned['id'].astype(int) == id_a_buscar).any()

if id_encontrado:
    print(f"El ID {id_a_buscar} se encuentra en la columna 'id' como un número entero.")
else:
    print(f"El ID {id_a_buscar} no se encuentra en la columna 'id' como un número entero.")

El ID 761140 se encuentra en la columna 'id' como un número entero.

In [20]:
# Supongamos que quieres ver la información de la primera fila en el DataFrame dfsteam_games_cleaned
primera_fila = dfsteam_games_cleaned.iloc[0]

# Imprime la información de la primera fila
print(primera_fila)

genres          Action, Casual, Indie, Simulation, Strategy
title                                   Lost Summoner Kitty
release_date                            2018-01-04 00:00:00
id                                                   761140
Name: 88310, dtype: object

In [14]:
# Guardar el DataFrame como un archivo CSV
dfsteam_games_cleaned.to_csv(r'C:\Users\jaime\OneDrive\Escritorio\Henry\Proyectos\Proyectopersonal1\2intento\archivos csv\dfsteam_games_cleaned.csv', index=False)

In [ ]:
# EXTRAER JSON user_reviews.json

In [21]:
# Leer el contenido del archivo user_reviews.json
with open('user_reviews.json', "r", encoding='utf-8') as f:
    data = f.readlines()
    
# Convertir la lineas a registros JSON
records = [eval(line.strip()) for line in data]

df_user_reviews = pd.DataFrame(records)

In [22]:
df_user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [23]:
df_user_reviews = df_user_reviews.drop(['user_url'], axis=1)

In [24]:
df_user_reviews.head()

             user_id                                            reviews
0  76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1            js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2          evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3              doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4          maplemage  [{'funny': '3 people found this review funny',...

In [25]:
# Contar filas con valores nulos
filas_con_nulos1 = df_user_reviews.isnull().sum(axis=1)
total_filas1 = len(dfsteam_games)

# Calcular porcentaje de filas con valores nulos
porcentaje_nulos1 = (filas_con_nulos1 / total_filas1) * 100

# Imprimir resultados
print(f"Total de filas con valores nulos: {filas_con_nulos1.sum()}")
print(f"Porcentaje de filas con valores nulos: {porcentaje_nulos1.mean()}%")

Total de filas con valores nulos: 0
Porcentaje de filas con valores nulos: 0.0%

In [26]:
# Imprimir los primeros juegos del DataFrame
print(df_user_reviews.head())

# Imprimir información sobre el DataFrame
print(df_user_reviews.info())

             user_id                                            reviews
0  76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1            js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2          evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3              doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4          maplemage  [{'funny': '3 people found this review funny',...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  25799 non-null  object
 1   reviews  25799 non-null  object
dtypes: object(2)
memory usage: 403.2+ KB
None

In [27]:
# import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Descargar el léxico VADER si aún no lo has hecho
nltk.download('vader_lexicon')

# Inicializar el analizador de sentimientos de VADER
sid = SentimentIntensityAnalyzer()

# Función para asignar un valor de sentimiento a cada reseña
def assign_sentiment(review):
    if isinstance(review, str):
        sentiment_scores = sid.polarity_scores(review)
        compound_score = sentiment_scores['compound']

        if compound_score >= 0.05:
            return 2  # Positivo
        elif compound_score <= -0.05:
            return 0  # Malo
        else:
            return 1  # Neutral
    else:
        return 1  # Valor por defecto si no hay reseña escrita

# Aplicar la función de análisis de sentimientos a la columna 'reviews' y reemplazar 'reviews'
df_user_reviews['sentiment_analysis'] = df_user_reviews['reviews'].apply(assign_sentiment)
df_user_reviews.drop(columns=['reviews'], inplace=True)

print("Análisis de sentimientos completado y columna 'reviews' reemplazada por 'sentiment_analysis' en el DataFrame.")

Análisis de sentimientos completado y columna 'reviews' reemplazada por 'sentiment_analysis' en el DataFrame.

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\jaime\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [130]:
# Guardar el DataFrame como un archivo CSV
df_user_reviews.to_csv(r'C:\Users\jaime\OneDrive\Escritorio\Henry\Proyectos\Proyectopersonal1\2intento\archivos csv\user_reviews.csv', index=False)

In [ ]:
# EXTRAER JSON users_items.json

In [28]:
# Leer el contenido del archivo users_items.json
with open('users_items.json', "r", encoding='utf-8') as f:
    data = f.readlines()
    
# Convertir la lineas a registros JSON
records = [eval(line.strip()) for line in data]

dfusers_items = pd.DataFrame(records)

In [29]:
dfusers_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [30]:
# Suponiendo que tu DataFrame se llama 'df'
columnas = dfusers_items.columns
print(columnas)

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

In [31]:
dfusers_items = dfusers_items.drop(['items_count', 'user_url', ], axis=1)

In [34]:
dfusers_items.head()

,user_id,steam_id,items,playtime_forever,playtime_2weeks,id
0,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10
1,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
2,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,0,1200
3,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
4,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea...",1131,0,300

In [32]:
dfusers_items['playtime_forever'] = dfusers_items['items'].apply(lambda x: x[0].get('playtime_forever') if len(x) > 0 else 0)
dfusers_items['playtime_2weeks'] = dfusers_items['items'].apply(lambda x: x[0].get('playtime_2weeks') if len(x) > 0 else 0)
dfusers_items['id'] = dfusers_items['items'].apply(lambda x: x[0].get('item_id') if len(x) > 0 else 0)
dfusers_items['playtime_forever'] = dfusers_items['playtime_forever'].astype(int)
dfusers_items['playtime_2weeks'] = dfusers_items['playtime_2weeks'].astype(int)

In [35]:
dfusers_items.head()

,user_id,steam_id,items,playtime_forever,playtime_2weeks,id
0,76561197970982479,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10
1,js41637,76561198035864385,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
2,evcentric,76561198007712555,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,0,1200
3,Riot-Punch,76561197963445855,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
4,doctr,76561198002099482,"[{'item_id': '300', 'item_name': 'Day of Defea...",1131,0,300

In [36]:

dfusers_items.drop(['items'], axis=1, inplace=True)

In [37]:
dfusers_items.drop(['playtime_2weeks'], axis=1, inplace=True)

In [38]:
dfusers_items.head()

             user_id           steam_id  playtime_forever    id
0  76561197970982479  76561197970982479                 6    10
1            js41637  76561198035864385                 0    10
2          evcentric  76561198007712555               923  1200
3         Riot-Punch  76561197963445855                 0    10
4              doctr  76561198002099482              1131   300

In [39]:
#  import pandas as pd

# Supongamos que ya tienes el DataFrame dfusers_items cargado

# Convertir la columna 'id' a valores numéricos
dfusers_items['id'] = pd.to_numeric(dfusers_items['id'], errors='coerce')

# La opción 'errors' con valor 'coerce' transformará los valores no numéricos en NaN

# Verificar que la columna 'id' ahora contiene valores numéricos
print(dfusers_items.dtypes)

user_id             object
steam_id            object
playtime_forever     int32
id                   int64
dtype: object

In [40]:
# import pandas as pd

# Verifica el DataFrame dfsteam_games_cleaned
if dfsteam_games_cleaned['id'].apply(lambda x: isinstance(x, (int, float))).all():
    print("Todos los valores en la columna 'id' de dfsteam_games_cleaned son numéricos.")
else:
    print("La columna 'id' de dfsteam_games_cleaned contiene valores no numéricos.")

# Verifica el DataFrame dfusers_items
if dfusers_items['id'].apply(lambda x: isinstance(x, (int, float))).all():
    print("Todos los valores en la columna 'id' de dfusers_items son numéricos.")
else:
    print("La columna 'id' de dfusers_items contiene valores no numéricos.")

Todos los valores en la columna 'id' de dfsteam_games_cleaned son numéricos.
Todos los valores en la columna 'id' de dfusers_items son numéricos.

In [41]:
# import pandas as pd

# Supongamos que ya tienes los DataFrames dfsteam_games_cleaned y dfusers_items cargados

# Filtrar juegos del género "Action" en dfsteam_games_cleaned
juegos_action = dfsteam_games_cleaned[dfsteam_games_cleaned['genres'].str.contains('Adventure', case=False, na=False)]

# Realizar un merge entre juegos_action y dfusers_items utilizando 'id' como clave de unión
merged_df = juegos_action.merge(dfusers_items[['id', 'playtime_forever']], left_on='id', right_on='id', how='inner')

# Convertir la columna 'playtime_forever' a tipo int
merged_df['playtime_forever'] = merged_df['playtime_forever'].astype(int)

# Convertir la columna 'release_date' a tipo datetime si aún no lo está
merged_df['release_date'] = pd.to_datetime(merged_df['release_date'])

# Obtener el año con más horas jugadas
year_with_most_playtime = merged_df.groupby(merged_df['release_date'].dt.year)['playtime_forever'].sum().idxmax()

print(f"Año con más horas jugadas para el género 'Adventure': {year_with_most_playtime}")

Año con más horas jugadas para el género 'Adventure': 2011.0

In [134]:
# import pandas as pd
from fastapi import FastAPI

# Supongamos que ya tienes los DataFrames dfsteam_games_cleaned y dfusers_items cargados
# También supongamos que ya tienes FastAPI configurado

app = FastAPI()

@app.get("/playtime_genre")
def PlayTimeGenre(genre: str):
    # Filtrar juegos del género especificado en dfsteam_games_cleaned
    genre_filter = dfsteam_games_cleaned['genres'].str.contains(genre, case=False, na=False)
    juegos_genre = dfsteam_games_cleaned[genre_filter]

    # Realizar un merge entre juegos_genre y dfusers_items utilizando 'id' como clave de unión
    merged_df = juegos_genre.merge(dfusers_items[['id', 'playtime_forever']], left_on='id', right_on='id', how='inner')

    # Convertir la columna 'playtime_forever' a tipo int
    merged_df['playtime_forever'] = merged_df['playtime_forever'].astype(int)

    # Convertir la columna 'release_date' a tipo datetime si aún no lo está
    merged_df['release_date'] = pd.to_datetime(merged_df['release_date'])

    # Obtener el año con más horas jugadas
    year_with_most_playtime = merged_df.groupby(merged_df['release_date'].dt.year)['playtime_forever'].sum().idxmax()

    return {"year_with_most_playtime": year_with_most_playtime}

# Ejecutar la aplicación FastAPI
if __name__ == "__main__":
    import uvicorn
    uvicorn.run(app, host="0.0.0.0", port=8000)

RuntimeError: asyncio.run() cannot be called from a running event loop